{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Green Bootstrap Template - Index</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
<!--   <link href="{% static 'assets/img/favicon.png'%}" rel="icon"> -->
  <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">
  <script src="https://use.fontawesome.com/4f4a7477ba.js"></script>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Green - v2.0.0
  * Template URL: https://bootstrapmade.com/green-free-one-page-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="padding-left: 5%;padding-right: 50px;">
    <a class="navbar-brand" href="{% url 'index' %}"><h3 style="color:limegreen;">Dewaste</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'maps' %}">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'surveyres' %}">Statistics</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      
      <ul class="navbar-nav">
        <li><a class="nav-link" style="color: white;" href="{% url 'survey' %}" tabindex="-1" aria-disabled="true">Fill survey</a></li>
        <li><a class="nav-link" style="color: white;" href="{% url 'aboutus' %}" tabindex="-1" aria-disabled="true">About us</a></li>
      </ul>
    </div>
  </nav>

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta" style="margin-top: 50px;">
    <div class="container">

      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3>Have you filled our survey yet!</h3>
          <p>Filling a small survey would be a contribution towards designing a solution to mitigate the e waste epidemic. Do we want another 2020 of e waste? Fill the form and help us develop a solution</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="{% url 'survey' %}">Let's fill the survey</a>
        </div>
      </div>

    </div>
  </section><!-- End Cta Section -->  

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Team</h2>
          <p>Group of batchmates pursuing masters in computer science at Indian Institute Of Technology, Bombay</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <h4>Kartavya Kothari</h4>
              <span>kartavya@iitb.ac.in</span>
              <p>
                Engineer | Programmer | A Koala </br>
                <a href="kartavyakothari.github.io">Find out more</a>
              </p>
              <div class="social">
                <a href="https://twitter.com/thekoalaperson"><i class="icofont-twitter"></i></a>
                <a href="https://in.linkedin.com/in/kartavyakothari"><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <h4>Aditya Jain</h4>
              <span>193050028@iitb.ac.in</span>
              <p>
                Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
              </p>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <h4>Karthik R Prakash</h4>
              <span>193050008@iitb.ac.in</span>
              <p>
                Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
              </p>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About project</h2>
          <p></p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="{% static 'assets/img/ewaste.jpeg'%}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>A course project with CTARA IIT bombay, under guide Prof. Sudhanshu Mallick</h3>
            <p class="font-italic">
              We the students of IIT bombay enrolled ourselves into a project based
              course as we strogly feel about the e waste situation in india. 
              In our many field visits we found that there exists a strong disposal network. This 
              is majorly run by the back economy and can be leveraged to a great extent for the upliftment 
              of that economy while preventing some electronic waste to reach our oceans/landfills harming life in it.
            </p>
            
            <p>
              Prof. Sudhanshu Mallick has played a vital role in guiding us to the
               correct path to proceed on. We also thank the bhangarwalas
                who helped in understanding the process and closely look at 
               their methods of stacking, breaking and clustering e waste. 
               We would also like to thank the CTARA department for the oppputunity to work on this. 
               Last but not the least, we are greatful to people who gave their time in filling 
               our surveys to help us understand what to build.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

  </main><!-- End #main -->

 <!-- ======= Footer ======= -->
 <footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Dewaste</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://cse.iitb.ac.in/">IITB students</a>
    </div>
  </div>
</footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <script>
    let csrf_token = "{{ csrf_token }}"
  </script>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %"></script>

</body>

</html>
